.radioButton{
border: 1.5px solid #d9d9d9;
padding: 2.5px;
border-radius: 8px;
}

.ant-card-body{
    padding-top: 4px;
    height: 85vh;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-track {
    background: transparent;
}
.overlay {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.3); */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    /* visibility: hidden; */
  }
  
  .overlay.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .card-wrapper {
    position: fixed;
    top: 10px;
    left:10px;
    z-index: 2;
    transition: transform 0.3s ease;
    transform: translateY(-100%);
  }
  
  .overlay.visible .card-wrapper {
    transform: translateY(0);
  }
  